<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1>Nombre Evento</h1>
            <div class="info-autor">
                <div class="imagen">
                    <img src="">
                </div>
                <div class="informacion">
                    <p>Organizado por : </p>
                    <p class="autor">
                        <a href="">Andres</a> Creador de : 
                        <a href="">Node Europa</a>
                    </p>
                </div>
            </div><!--.Info autor-->
        </div><!--.Info resumen evento -->
        <div class="pregunta-asistencia">
            <p>Asistiras?</p>
            <a href="#" class="btn btn-azul" >Si</a>
        </div>
    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="decripcion">
              <!-- Imagen del Meeti -->


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quas dolorum minus soluta sint. Velit beatae, tenetur, eius optio doloremque iure porro fugit, reiciendis assumenda perspiciatis facilis maiores nobis? Alias.</p>
            </div><!-- descripcion-->

            <div class="asistentes">
                <div class="titulo">
                    <h3>Asistentes</h3>
                    <a href="·">Ver todo</a>
                </div>
            </div> <!--asistentes-->

            <div class="comentarios">
                <h2>Comentarios</h2>
                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Andres</span></p>
                        <input type="button" value="Eliminar" class="btn btn-azul">
                    </div>
                </div>
                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Andres</span></p>
                        <input type="button" value="Eliminar" class="btn btn-azul">
                    </div>
                </div>

                <!--Formulario de comentarios-->

                    <form action="#" class="default-form comentarios">
                        <legend>Agrega un comentario</legend>
                        <div class="campo">
                            <label>Comentario</label>
                            <textarea name="comentario"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" value="Enviar" class="btn btn-rosa">
                        </div>
                    </form>

                <!--/Formulario de comentarios-->

            </div><!--Comentarios-->
        </div><!--Informacion evento-->

        <aside class="informacion">
            <div class="fecha">
                <p>30 de Agosto 2020; 20:30 horas</p>
            </div>
            <div class="ubicacion">
                <p>Avenida Siempre Viva</p>
            </div>
        </aside>
    </div>
</main>